.texto{
    color: #430C76;
    text-decoration:none;
}
.card{
    color: rgb(65, 42, 132);
}
.cuerpo{
    background-color:  #430C76;
}

footer{
    background-color: #430C76;
    
}
a{
    color: #B18CD4;
    text-decoration:none;
}
